/* collor palette
 #00ff9f #00b8ff #001eff #bd00ff #d600ff*/

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #50b9cc 0%, #bf2e94 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  width: 100%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 4em;
}

#story {
  font-size: 1.9em;
  margin-top: 50px;
}

#options {
  list-style: none;
  margin: 50px auto;
  padding: 0;
}

#options li {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.9em;
}

#options a {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#options a:hover {
  background-color: #0069d9;
}

#progress {
  font-size: 1.9em;
  margin-top: 50px;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}
